*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Montserrat', sans-serif

ul
  list-style none

h1, h2
  font 400 48px/70px 'Montserrar', sans-serif

h3
  font 400 36px/36px 'Montserrar', sans-serif

h4
  font 400 24px/48px 'Montserrar', sans-serif

p
  font 400 14px/36px 'Montserrar', sans-serif

.jumbotron
  background transparent
  h1, h2
    color white

.row:before,
.row:after
  display none